@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: local("Poppins"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.6px;
}