@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oceanwide';
  src: url("../fonts/oceanwide-cufonfonts/Oceanwide-Semibold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oceanwide', sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.9px;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

#input{
  font-family: 'Poppins',sans-serif;
}