@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: local("Oceanwide"), url("../fonts/Oceanwide/Oceanwide-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oceanwide', sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.9px;
}

body{
  overflow-x: hidden;
}